@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset-css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7a7f9d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #21295c;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #21295c;
}

.css-i9gxme {
  margin-top: 40px;
}

.sum_one,
.sum_two,
.sum_three,
.sum_four,
.sum_five,
.sum_mark-student {
  font-weight: bold;
}

.sum_mark-student {
  font-size: 18px;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

/* h1 {
  font-weight: bold;
  margin: 0;
} */

/* h2 {
  text-align: center;
} */

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.form_login {
  background-color: #fff !important;
}

.overlay button,
.form_login button {
  color: #fff;
}

button {
  border-radius: 20px;
  border: 1px solid #25c2f2;
  background-color: #19d1ca;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  margin-top: 15px;
  background-color: transparent;
  border-color: #ffffff;
}

/* form {
  background-color: #ffffff;
} */

input {
  background-color: #eee;
  border: none;
  padding: 8px 4px;
  margin: 8px 0;
  width: 75%;
  color: #000;
  border-radius: 5px;
  font-size: 14px;
  /* text-align: center; */
}

.container_login {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin: 30px auto;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container_login.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container_login.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container_login.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #50f1d9;
  background: -webkit-linear-gradient(
    to right,
    rgba(70, 211, 252, 100),
    #41c0ff
  );
  background: linear-gradient(to right, #2b95ff, #41c0ff);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container_login.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(0%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container_login.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.login_err {
  margin: 13px 0px;
}

.select {
  color: #000;
}

.highcharts-credits {
  display: none !important;
}

#outlined-multiline-flexible-label {
  color: red;
}

#header-bar {
  display: none;
}

.highcharts-container {
  border-radius: 10px;
}
